name: CD - Docker Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4
      - name: Build imagem Docker
        run: docker build -t spring-app .
      - name: Subir containers
        run: docker compose up -d